
@import "../../assets/scss/variables";

@mixin easeOut {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1)
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

.header {
  position: fixed;
  z-index: 5;
  width: 100vw;
  height: 70px;
  background-color: $header-color;

  .logo-wrapper {
    max-width: 60px;
    position: relative;
    left: 25px;
    padding: 5px 0;

    .home-link {
      max-width: 100%;

      .logo {
        max-width: 100%;
      }
    }
  }
  .burger {
    position: absolute;
    z-index: 10;
    right: 25px;
    top: calc(50% - 7px);
    cursor: pointer;
    transform: rotateY(0);
    @include easeOut;

    &__patty {
      width: 28px;
      height: 2px;
      margin: 0 0 4px 0;
      background: #fff;
      @include easeOut;

      &:last-child {
        margin-bottom: 0;
      }
    }

    // transform burger into 'x'
    &--close {
      transform: rotate(180deg);

      .burger__patty {
        &:nth-child(1) {
          transform: rotate(45deg) translate(4px, 4px);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(5px, -4px);
        }
      }
    }
  }

  .menu {
      position: fixed;
      top: 0;
      width: 100%;
      visibility: hidden;

      &--active {
          visibility: visible;
      }

      &__brand,
      &__list {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;

        // make the demo look nice, not required for your own use.
        .logo {
          width: 200px;
          height: 200px;
          // background: lighten(#000, 10);
          border-radius: 50%;
        }
      }

      &__list {
        margin: 0;
        padding: 0;
        background: $header-color;
        list-style-type: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;

        &--active {
            transform: translate3d(0, 0, 0);
        }
      }

      &__brand {
        background: $primary-color;
        @include easeOut;
        transform: translate3d(0, 100%, 0);

        &--active {
            transform: translate3d(0, 0, 0);
        }
      }

      &__item {
        transform: translate3d(500px, 0, 0);
        @include easeOut;

        &--active {
            transform: translate3d(0, 0, 0);
        }
      }

      &__link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        padding: 15px 0;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        color: #fff;
        @include easeOut;

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 10px;
          height: 2px;
          background: #fff;
          transform: translateX(-50%);
          @include easeOut;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
      }

      // add delay to each menu item
      @for $x from 1 through 6 {
      .menu__item:nth-child(#{$x}) {
          transition-delay: $x * .1s;
        }
      }
  }
}



// responsive tablet view
@include tablet {
 ul.menu__list,
 div.menu__brand {
  float: none;
  width: 100%;
  min-height: 0;

   &--active {
     transform: translate3d(0, 0, 0);
   }
 }

 .menu__list {
   height: 75vh;
   transform: translate3d(-100%, 0, 0);
 }

 .menu__link {
   font-size: 24px;
 }

 .menu__brand {
   height: 25vh;
   transform: translate3d(100%, 0, 0);

   .logo {
     width: 90px;
     height: 90px;
   }
 }
}

.support {
    position: fixed;
    bottom: 24px;
    color: rgba(#000, 0.6);
}
