/* You can add global styles to this file, and also import other style files */

$primary-color: #38C5B9;

* {
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: $primary-color;
    font-family: 'Open Sans';
    color: white;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
